* {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: none;
    font-family: 'Yeseva One', cursive;
}
.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav li:hover {
    background-color: aliceblue;
    transition: 0.3s ease;
    padding: 5px;
    border-radius: 25px;
    /* box-shadow: 5px 10px black; */
} 

@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    .nav li {
        padding: 0.5rem 0;
    }
}
