.book-info {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    align-items: center;
}

img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;   
    padding: 5px;
}

.book-info p {
    padding: 1em;
}
.btn fill {
    align-self: center;
    padding: 0%;

}
.book-info h1 {
    font-size: revert;
    align-items: center;
}
