.breadcrumb-nav {
    padding: 2em;
}
.breadcrumb-nav a {
    color: #fc894d;
}
.breadcrumb-nav > li {
    display: inline;
}

.breadcrumb-nav li + li:before {
    padding: 4px;
    content: "/";
    color: #f34079;
  }