.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-content {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
}
.footer-links a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

.footer-links li {
    display: inline-block;
    color: #fc894d;
}