body, html {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
.hero {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    background-image: url('/public/imgs/Plane.jpg');
    position: relative;
    background-size: cover;
    margin: 0;
    
    .hero-quote {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100px;
        height: 100px;
        color: white;
        padding: 100px;
        text-align: center; 

    }
}
