.container {
    max-width: 300px;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 50%;
    padding: 16px;
    margin: 10px auto;
    text-align: center;
    color: white;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}


.card.rounded {
    border-radius: 20px;
}
img {
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    object-fit: cover;
  }
  
h2 {
    font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}