button {
    margin: 20px;
}
/* button one */
.style-one {
background-color: #f34079;
color: white;
border: none;
border-radius: 25px;
font-family: 'Lato', sans-serif;
padding: 15px 20px;
cursor: pointer;
}
.style-one:hover {
background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
color: white;
border: none;
}
.style-one:active {
    background-color: #f34079;
    color: #fc894d;
    border: none;
}

/* button two */
.style-two {
    background-color: white;
    padding: 15px 20px;
    color:#f34079;
    border-radius: 25px;
    border: 2px solid #f34079;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.style-two:hover {
    background-color: #f34079;
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}
.style-two:active {
    background-color: #f34079;
    color: #f34079;
    border: none;
}

/* button three */
.style-three {
    background-color: #f34079;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 15px 20px;
    cursor: pointer;
}

.style-three:hover {
    background-color: white;
    border: 2px solid #f34079;
    color:#f34079;
    padding: 15px 20px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.style-three:active {
    background-color: #f34079;
    color: white;
    border-radius: 5px;
    border: none;
}


/* button four */
.style-four {
    background-color: #f34079;
    color: white;
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 15px 20px;
    cursor: pointer;
}
.style-four:hover {
    background-color: white;
    border: 2px solid #f34079;
    color:#f34079;
    padding: 15px 20px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    box-shadow: 5px 10px #f34079;
}
.style-four:active {
    border-color: #f34079;
    color: #f34079;
    border-radius: 5px;
}
