* {
    padding: 0;
    margin: 0;
}

body {
    color:blanchedalmond;
}

.logo {
    display: flex;
    padding: 2em;
}
nav {
    display: flex;
    justify-content: space-around;
    border: 1px solid #f34079;
}

nav ul {
    display: flex;
    align-items: flex-end;
}

nav li { 
    padding: 1em;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: f34079;
}